.skills {
	max-width: 90%;
	margin: 0px auto;
	font-family: var(--font-secondary);
	font-size: 16px;
	font-weight: 400;
}

.skill-list {
	padding: 25px 0;
	list-style: none;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.arrow {
	margin-right: .75rem;
	color: #64ffda;
}

@media (max-width: 850px)
{
	.skill-list {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (max-width: 768px)
{
	.skill-list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}