.experience {
	max-width: 90%;
	margin: 0px auto;
	font-family: var(--font-secondary);
	font-size: 16px;
	font-weight: 400;
	padding: 25px 0;
}

.experience-list {
	max-width: 90%;
	margin: 0px auto;
	font-family: var(--font-secondary);
	font-size: 16px;
	font-weight: 400;
}

.company-name {
  color: #64ffda;
}

.role {
	font-size: 16px;
	margin: 0;
}

.range {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 3px;
}

.description {
  font-family: var(--font-primary);
}

.description-list-item {
	display: flex;
	margin-bottom: 5px;
	/* padding-left: 30px; */
}

.point {
	padding-left: 30px;
}